* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    color: #fff;
}

p {
    line-height: 1.5em;
    font-size: 18px;
    color: gray;
}

/*Navigation*/

header {
    background-color: #79beb9;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
    color: white;
}

#logo img {
    width: 35%;
    position: relative;
}

label, input, textarea {
    display: block;
}

.burger-label {
    color: white;
    font-family: sans-serif;
    display: none;
}

#logo,
#main-nav a {
    color: white;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.hidden {
    display: none;
}

/*nav-slut*/

/*FOOTER start*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    justify-content: space-evenly;
    padding: 2%;
    border-top: solid;
    border-width: 90%;
    border-top-color: darkgrey;
    margin: 2%;
}

#SoMe {
    padding: 5%;
    justify-self: end; 
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#facebook,
#insta {
    padding: 2%;
    margin: 2%; 
}

#facebook {
    grid-column: 1/2; 
}

#insta {
    grid-column: 2/3;
    grid-row: 2/3;
}

/*FOOTER slut*/

/*KONTAKT-SIDE start*/

#baggrundsbillede {
    background: url(../images/pier2.png) no-repeat right bottom;
    display: grid;
}

#kontaktoplysninger {
    background-color: #79beb9;
    opacity: 0.5;
    margin: 2%;
    padding: 2%;
    margin-bottom: 30%;
    width: 60%;
}

#kontaktoplysninger p,
#kontaktoplysninger h2 {
    color: white;
}

#kontaktoplysninger h2 {
    text-align: center;
}

/*KONTAKT-SIDE slut*/

/*MEDIA QUERY MOBILE */
@media all and (max-width: 599px) {

    /*HEADER NAV*/
    nav {
        background-color: #79beb9;
    }

    li img {
        width: 65%;
    }

    li {
        font-family: 'Open Sans';
    }

    ul {
        display: grid;
        list-style-type: none;
        place-items: center;
        grid-template-columns: 20% auto auto auto auto;
    }

    /*nav start*/

    header {
        background-color: #79beb9;
        width: 100%;
        padding: 0 20px;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }

    /*nav slut*/

    /*Indholdet*/
    article {
        display: grid;
        justify-items: center;
    }

    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        font-size: 50px;
        text-align: center;
    }

    .forside {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }

<<<<<<< HEAD
=======

>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
    /* Selve Artiklerne */
    .artikel,
    .artikel2 {
        display: grid;
        place-items: center;
    }

    .artikel-billede {
        width: 60%;
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .artikel h2,
    .artikel2 h2 {
        font-size: 50px;
        color: #b2b2b2;
        grid-column: 1/3;
    }

    .svamp {
        align-self: end;
        grid-row: 1/2;
        grid-column: 2/3;
        margin-bottom: 25%;
    }

    .svamp2 {
        align-self: end;
        grid-row: 1/2;
        grid-column: 1/2;
        margin-bottom: 25%;
    }

    .artikel .boks,
    .artikel2 .boks {
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: #79beb9;
        width: 100%;
        height: 80%;
    }

    .artikel p,
    .artikel2 p {
        margin: 0 3%;
        grid-column: 1/3;
    }

    .svampebuket {
        width: 30%;
        margin: 10% 0;
    }

    /*Gro guide*/
    .gro-guide img {
        width: 100%;
    }

    .gro-guide {
        display: grid;
        justify-items: center;
        margin: 0 0 10%;
    }

    .gro-guide h2 {
        text-align: center;
    }

    .gro-guide p {
        margin: 0 3%;
    }

    /*Billedegalleri*/
    .billedegalleri {
        background-image: url(../images/myceliumsbaggrund.png);
    }

    .galleri {
        display: grid;
        padding: 10px;
        grid-gap: 10px;
        background-image: url(../images/myceliumsbaggrund.png);
        grid-template-columns: auto auto;
    }

    .galleri img {
        background-color: aquamarine;
        width: 100%;
    }

    .billedegalleri p {
        text-align: center;
        color: white;
        font-size: 2em;
    }

<<<<<<< HEAD
=======

    /*KONTAKT SIDE start*/

    #deskhide {
        display: none;
    }

    #kontaktoplysninger {
        width: 95%;
        align-self: center;
    }

    /*KONTAKT-SIDE slut*/

>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
    /* eventside */
    .event-underoverskrift {
        grid-row: 1/2;
        color: black;
        font-family: corbel;
        text-align: center;
    }

<<<<<<< HEAD
    #event-overskrift {
        grid-row: 2/3;
=======
    #event1 {
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
        color: #003a45;
        font-family: Britannic;
        text-align: center;
    }

<<<<<<< HEAD
    .event-tekst {
=======
    .event0 {
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
        color: black;
        margin: 0 5% 5%;
        text-align: center;
    }

<<<<<<< HEAD
    .event-manchet {
=======
    .event00 {
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
        color: black;
        margin: 0 5%;
        padding: 0 0 5%;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .eventcontainer {
        margin-top: 2%;
        display: grid;
        border-bottom: 1px solid black;
        justify-items: center;
<<<<<<< HEAD
        margin: 0 5%;
    }

    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 18px;
        color: white;
        line-height: 50px;
        text-align: center;
        background: #20a5a5;
        margin-bottom: 5%;
    }

    .circle img {
        width: 50%;
        margin-top: 10%;
    }

    /*tilmeldingside*/
    /*Footer*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
        justify-content: space-evenly;
        justify-items: center;
        padding: 5%;
    }

    #SoMe {
        padding: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #facebook,
    #insta {
        padding: 2%;
        margin: 2%;
    }

}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {

    /*HEADER NAV*/
    #main-nav {
        display: flex;
        justify-content: center;
    }

    /*Indholdet på hjemmesiden*/
    article {
        display: grid;
        justify-items: center;
    }

    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        font-size: 50px;
        text-align: center;
    }

    .forside {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    /* Selve Artiklerne */
    .artikel,
    .artikel2 {
        display: grid;
        place-items: center;
    }

    .artikel-billede {
        width: 60%;
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .artikel h2,
    .artikel2 h2 {
        font-size: 50px;
        color: #b2b2b2;
        grid-column: 1/3;
    }

    .svamp {
        align-self: end;
        grid-row: 1/2;
        grid-column: 2/3;
        margin-bottom: 25%;
    }

    .svamp2 {
        align-self: end;
        grid-row: 1/2;
        grid-column: 1/2;
        margin-bottom: 25%;
    }
=======



    }

    .eventcontainer2 {
        display: grid;
        border-bottom: 1px solid black;
        justify-items: center;

    }

    .eventcontainer3 {
        display: grid;
        border-bottom: 1px solid black;
        justify-items: center;

    }

    .eventcontainer4 {
        display: grid;
        border-bottom: 1px solid black;
        justify-items: center;

    }

    .circle {

        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 18px;
        color: white;
        line-height: 50px;
        text-align: center;
        background: #20a5a5;
        margin-bottom: 5%;

    }

    .csvamp {
        width: 70%;
        margin-top: 10%;

    }

    .skoel {
        width: 50%;
        margin-top: 8%;
    }

    /*tilmeldingside*/

}

.kontakt-titel {
    margin-top: 100px;
    color: black;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

#til1 {
    font-size: 32px;
    line-height: 10px;
    color: black;
    font-family: helvetica;
}

#til2 {
    font-size: 16px;
    color: black;
    font-family: helvetica;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

/*FOOTER start*/

#facebook {
    grid-column: 1/2;
}

#insta {
    grid-column: 1/2;
    grid-row: 2/3;
}

}
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272

    .artikel .boks,
    .artikel2 .boks {
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: #79beb9;
        width: 100%;
        height: 80%;
    }

    .artikel p,
    .artikel2 p {
        margin: 0 3%;
        grid-column: 1/3;
    }

    .svampebuket {
        width: 30%;
        margin: 10% 0;
    }

    /*Gro guide*/
    .gro-guide img {
        width: 100%;
    }

<<<<<<< HEAD
    .gro-guide {
        display: grid;
        justify-items: center;
        margin: 0 0 10%;
    }

    .gro-guide h2 {
        text-align: center;
    }

    .gro-guide p {
        margin: 0 3%;
    }

    /*Billedegalleri*/
    .billedegalleri {
        background-image: url(../images/myceliumsbaggrund.png);
    }

    .galleri {
        display: grid;
        padding: 10px;
        grid-gap: 10px;
        grid-template-columns: auto auto;
    }

    .galleri img {
        background-color: aquamarine;
        width: 100%;
    }

    .billedegalleri p {
        text-align: center;
        color: white;
        font-size: 2em;
=======
    /*KONTAKT-SIDE start*/

    #mobilehide {
        display: none;
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
    }

    /*eventside*/
    .event-underoverskrift {
        grid-row: 1/2;
        color: black;
        font-family: corbel;
        text-align: center;
        font-size: 25px;
    }

<<<<<<< HEAD
    #event-overskrift {
        grid-row: 2/3;
        font-size: 60px;
=======
    #event1 {
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
        color: #003a45;
        font-family: Britannic;
        text-align: center;
    }

<<<<<<< HEAD
    .event-tekst {
=======
    .event0 {
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
        color: black;
        margin: 0 5% 5%;
        text-align: center;
    }

<<<<<<< HEAD
    .event-manchet {
        color: black;
        margin: 0 5%;
        padding: 0 0 5%;
        text-align: center;
        border-bottom: 1px solid black;
    }

=======
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
    .eventcontainer {
        margin-top: 2%;
        display: grid;
        border-bottom: 1px solid black;
        justify-items: center;
<<<<<<< HEAD
        margin: 0 5%;
    }

    .circle {
        width: 330px;
        height: 330px;
        border-radius: 50%;
        font-size: 18px;
        color: white;
        line-height: 50px;
        text-align: center;
        background: #20a5a5;
        margin-bottom: 5%;
    }

    .circle img {
        width: 50%;
        margin-top: 10%;
    }

    /*tilmeldingside*/

    /*Footer*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
        justify-content: space-evenly;
        justify-items: center;
        padding: 5%;
    }

    #SoMe {
        padding: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #facebook,
    #insta {
        padding: 2%;
        margin: 2%;
    }

=======



    }

    .eventcontainer2 {
        display: grid;
        border-bottom: 1px solid black;
        justify-items: center;

    }

    .eventcontainer3 {
        display: grid;
        border-bottom: 1px solid black;
        justify-items: center;

    }

    .eventcontainer4 {
        display: grid;
        border-bottom: 1px solid black;
        justify-items: center;

    }

    .circle {

        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 18px;
        color: white;
        line-height: 50px;
        text-align: center;
        background: #20a5a5;
        margin-bottom: 5%;



    }

    .csvamp {
        width: 70%;
        margin-top: 10%;

    }

    .skoel {
        width: 50%;
        margin-top: 8%;
    }
/*FOOTER start*/

    #facebook {
    grid-column: 1/2;
}

#insta {
    grid-column: 2/3;
    grid-row: 2/3;
}
    
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    /*HEADER*/

<<<<<<< HEAD
    /*Selve artiklerne*/
    .artikel,
    .artikel2 {
        width: 90%;
    }

    .artikel .boks,
    .artikel2 .boks {
        grid-row: 1/3;
        grid-column: 1/4;
        background-color: #79beb9;
        width: 100%;
        height: 100%;
    }

    .artikel-billede {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/3;
        justify-self: start;
    }

    .artikel2 .artikel-billede {
        width: 100%;
        grid-column: 3/4;
        grid-row: 1/3;
        justify-self: end;
    }

    .artikel h2 {
=======
    /*eventside*/
    .event2 {
        color: black;
        font-family: corbel;
        margin-top: 5%;
    }

    #event1 {
        color: #003a45;
        font-family: Britannic;
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
        font-size: 50px;
        color: black;
        grid-column: 3/4;
        grid-row: 1/2;
    }

<<<<<<< HEAD
    .artikel2 h2 {
        font-size: 50px;
        color: black;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .artikel p {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .artikel2 p {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .svamp {
        display: grid;
        margin: 0;
        grid-column: 2/3;
        grid-row: 1/4;
        width: 100%;
        justify-self: end;
    }

    .svampen1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .artikel .svamp2 {
        display: grid;
        margin: 0;
        grid-row: 1/3;
        grid-column: 2/3;
        width: 100%;
        justify-self: start;
    }

    .artikel2 .svamp2 {
        display: grid;
        margin: 0;
        grid-row: 1/3;
        grid-column: 2/3;
        width: 100%;
        justify-self: start;
    }

    .svampen2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }


    /*eventside*/
    .eventcontainer {
        grid-column: 1/2;
    }

    .event-underoverskrift {
        grid-column: 1/2;
    }

    #event-overskrift {
        grid-column: 1/2;
    }

    .event-manchet {
        grid-column: 1/2;
    }
}
=======
    .event00 {
        color: black;
        margin-bottom: 5%;
        margin-right: 70%;
        margin-left: 1%;


    }

    .eventcontainer {
        margin-top: 2%;
        border-top: 1px solid black;
        display: grid;
        border-bottom: 1px solid black;
        margin-right: 72%;
        margin-left: 1%;



    }

    .eventcontainer2 {
        display: grid;
        border-bottom: 1px solid black;
        margin-right: 72%;
        margin-left: 1%;

    }

    .eventcontainer3 {
        display: grid;
        border-bottom: 1px solid black;
        margin-right: 72%;
        margin-left: 1%;

    }

    .eventcontainer4 {
        display: grid;
        border-bottom: 1px solid black;
        margin-right: 72%;
        margin-left: 1%;


    }

    .circle {

        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 18px;
        color: white;
        line-height: 50px;
        text-align: center;
        background: #20a5a5;
        margin-bottom: 5%;
        margin-left: 5%
    }

    .csvamp {
        width: 70%;
        margin-top: 10%;

    }

    .skoel {
        width: 50%;
        margin-top: 8%;
    }
>>>>>>> 09cdb323821e2d572de00e6e9832d24ce1d71272
