* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    color: #fff;
}

p {
    line-height: 1.5em;
    font-size: 18px;
    color: gray;
}

/*Navigation*/

header {
    background-color: #79beb9;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
    color: white;
}

#logo img {
    width: 35%;
    position: relative;
}

label {
    color: white;
    font-family: sans-serif;
    display: none;
}


#logo,
#main-nav a {
    color: white;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.hidden {
    display: none;
}

/*nav-slut*/

#kontaktoplysninger {
    background-color: #79beb9;
    opacity: 0.5;
    color: white;
    margin: 2%;
}

#kontaktoplysninger p,
#kontaktoplysninger h2 {
    color: white;
}

#kontaktoplysninger h2 {
    text-align: center;
}

/*MEDIA QUERY MOBILE */
@media all and (max-width: 599px) {

    /*HEADER NAV*/
    nav {
        background-color: #79beb9;
    }

    li img {
        width: 65%;
    }

    li {
        font-family: 'Open Sans';
    }

    ul {
        display: grid;
        list-style-type: none;
        place-items: center;
        grid-template-columns: 20% auto auto auto auto;
    }

    /*nav start*/

    header {
        background-color: #79beb9;
        width: 100%;
        padding: 0 20px;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }

    /*nav slut*/

    /*Indholdet*/
    article {
        display: grid;
        justify-items: center;
    }

    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        font-size: 50px;
        text-align: center;
    }

    .forside {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
        justify-content: space-evenly;
        justify-items: center;
        padding: 5%;
    }

    #SoMe {
        padding: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #facebook,
    #insta {
        padding: 2%;
        margin: 2%;
    }

    /* Selve Artiklerne */
    .artikel {
        display: grid;
        place-items: center;
    }

    .artikel-billede {
        width: 60%;
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .artikel h2 {
        font-size: 50px;
        color: #b2b2b2;
        grid-column: 1/3;
    }

    .svamp {
        align-self: end;
        grid-row: 1/2;
        grid-column: 2/3;
        margin-bottom: 25%;
    }

    .svamp2 {
        align-self: end;
        grid-row: 1/2;
        grid-column: 1/2;
        margin-bottom: 25%;
    }

    .artikel .boks {
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: #79beb9;
        width: 100%;
        height: 80%;
    }

    .artikel p {
        margin: 0 3%;
        grid-column: 1/3;
    }

    .svampebuket {
        width: 30%;
        margin: 10% 0;
    }

    /*Gro guide*/
    .gro-guide img {
        width: 100%;
    }

    .gro-guide {
        display: grid;
        justify-items: center;
        margin: 0 0 10%;
    }

    .gro-guide h2 {
        text-align: center;
    }

    .gro-guide p {
        margin: 0 3%;
    }

    /*Billedegalleri*/
    .billedegalleri {
        background-image: url(../images/myceliumsbaggrund.png);
    }

    .galleri {
        display: grid;
        padding: 10px;
        grid-gap: 10px;
        background-image: url(../images/myceliumsbaggrund.png);
        grid-template-columns: auto auto;
    }

    .galleri img {
        background-color: aquamarine;
        width: 100%;
    }

    .billedegalleri p {
        text-align: center;
        color: white;
        font-size: 2em;
    }
}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {

    /*HEADER NAV*/
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    /*HEADER*/
}
