* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*MEDIA QUERY MOBILE */
@media all and (max-width: 599px) {

    /*HEADER NAV*/
    nav {
        background-color: #20a5a5;
    }

    li img {
        width: 65%;
    }

    ul {
        display: grid;
        list-style-type: none;
        place-items: center;
        grid-template-columns: 20% auto auto auto auto;
    }

    /*Indholdet*/
    article {
        display: grid;
        justify-items: center;
    }

    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
    }

    .forside {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .artikel {
        display: grid;
        place-items: center;
    }

    .artikel img {
        width: 60%;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .artikel .boks {
        grid-row: 1/2;
        grid-column: 1/2;
        grid float: left;
        background-color: aqua;
        width: 100%;
        padding: 20%;
        height: 50%;
    }

    .artikel p {
        margin: 0 5%;
    }

    .artikel h2 {}

    .svampebuket {
        width: 30%;
        margin: 10% 0;
    }
    
    /*Gro guide*/
    .gro-guide img {
        width: 100%;
    }


    /*Billedegalleri*/
    .billedegalleri {
        display: grid;
        padding: 10px;
        grid-gap: 10px;
        background-color: antiquewhite;
        grid-template-columns: auto auto;
    }

    .billedegalleri img {
        background-color: aquamarine;
        width: 100%;
    }
}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {

    /*HEADER NAV*/
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    /*HEADER*/
}
